<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container" id="game-container" style="padding:50px">
        <h1 id="game-title">{{ game_title }}</h1>
        <button id="highscores-button" onclick="window.open('{{ url_for('home_screen') }}', '_blank')">Play now</button>
    </div>

    {% if 'logged_in' in session %}
        <div id="player-label"> Logged in as {{ session['user']['first_name'] + ' ' + session['user']['last_name'] }}</div>
    {% endif %}
    <div id="game-version">{{ game_version }}</div>

</body>
</html>